[Unit]
Description=Murphy Resource Policy Daemon

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /tmp/murphy /var/run/murphy/processes
ExecStart=/usr/bin/murphyd -t dlog -vvv -f
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
