[Unit]
Description=Murphy Resource Policy Daemon

[Service]
Type=simple
ExecStart=/usr/bin/murphyd -t systemd -vvv -f
KillSignal=SIGTERM

[Install]
WantedBy=default.target
